.project-banner{
    width: 100%;
    padding-bottom: 30%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.project-title-box{
    padding: 0.5em 1em 0.4em;
    background-color: white;
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-align: left;
}

.project-title{
    font-weight: bold;
}

.project-details{
    margin-top: 2em;
}

.tag-list{
    margin-top: 2em;
}

.thumbnail-container{
    padding-left: 15px;
    padding-right: 15px;
}
.image-thumbnail{
    margin: 0;
    width: 100%;
    padding-top: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    position: relative;
}

.project-comments-area{
    margin-top: 2em;
}

.form-control{
    border: 2px solid gray;
    border-radius: 0px;
}

.form-control:focus {
    outline: none !important;
    border:2px solid black;
    box-shadow: none;
}

.form-button:hover{
    border: 2px solid black;
    color: black;
}

.form-button:active{
    background-color: gray;
}

.modal-content{
    padding: 5% 10%;
}

.modal-dialog{
    max-width: 50%;
}

.comment-separator{
    border-width: 1px;
    border-color: gray;
}