.App {
  text-align: center;
}

hr {
  border-width: 3px;
  border-color: black;
}
/* default link color is gray */
a {
  color: gray;
}

.main-content-list {
  margin-top: 2.5em;
}

/* makes links black when highlighted, removes underline */
a:hover {
  color: black;
  text-decoration: none;
}

/* active nav links are black and have a black bottom border */
.active {
  color: black;
  border-bottom: 2px solid black;
}

/* secondary navigation */
.nav-2 {
  font-size: 2em;
}

/* tertiary navigation */
.nav-3{
  margin-top: 1em;
}
.nav-3-item {
  font-size: 2em;
  margin-right: 1em;
}

/* settings for tags */
.tag {
  font-size: 2em;
  margin-right: 1em;
}

.tag-list{
  margin-top: 1em;
}

/* settings for categories */
.category {
  font-size: 2em;
  margin-right: 1.5em;
}

.category-list{
  margin-top: 1em;
}