.App {
  text-align: center;
}

/* default link color is gray */
a {
  color: gray;
}

/* makes links black when highlighted, removes underline */
a:hover {
  color: black;
  text-decoration: none;
}

/* active nav links are black and have a black bottom border */
.active {
  color: black;
  border-bottom: 2px solid black;
}